
<h1>File transfer</h1>
<p *ngIf="authService.isLoggedIn()">
  Witaj {{  authService.currentUser.name }}
</p>
<p *ngIf="authService.isLoggedIn() && !authService.currentUser.admin">
  Żeby móc ładować pliki musisz posiadać uprawnienia administratora.
</p>
<ul>
  <li *ngIf="authService.isLoggedIn() && authService.currentUser.admin"><a routerLink="/admin">Wyślij plik</a></li>
  <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
  <li *ngIf="authService.isLoggedIn()"><a (click)="authService.logout()">Logout</a></li>
</ul>
